<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>6</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.heavy__job.HeavyJobProperty plugin="heavy-job@1.1">
      <weight>1</weight>
    </hudson.plugins.heavy__job.HeavyJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>dc2_sl12-sp3_4096</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 13 * * 1</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sudo zypper up -y
sudo zypper install -y tar wget git telnet java-1_8_0-openjdk java-1_8_0-openjdk-devel


export WORK_DIR=`pwd`
export JAVA_HOME=/usr/lib64/jvm/java-1.8.0-openjdk-1.8.0
export M2_HOME=$WORK_DIR/apache-maven-3.5.2
export PATH=$JAVA_HOME/bin:$PATH:$M2_HOME/bin
java -version


#Install Maven
wget https://archive.apache.org/dist/maven/maven-3/3.5.2/binaries/apache-maven-3.5.2-bin.tar.gz
tar -xvzf apache-maven-3.5.2-bin.tar.gz
mvn --version


#PROTOBUFF #Install the dependencies
cd $WORK_DIR
sudo zypper install -y tar wget autoconf libtool automake gcc-c++ make git bzip2 curl unzip zlib zlib-devel patch

git clone https://github.com/google/protobuf.git
cd protobuf
git checkout v3.5.1


echo -e &apos;diff --git a/src/google/protobuf/stubs/atomicops_internals_generic_gcc.h b/src/google/protobuf/stubs/atomicops_internals_generic_gcc.h
index 0b0b06c..95f2338 100644
--- a/src/google/protobuf/stubs/atomicops_internals_generic_gcc.h
+++ b/src/google/protobuf/stubs/atomicops_internals_generic_gcc.h
@@ -146,6 +146,15 @@ inline Atomic64 NoBarrier_Load(volatile const Atomic64* ptr) {
   return __atomic_load_n(ptr, __ATOMIC_RELAXED);
 }

+inline Atomic64 Release_CompareAndSwap(volatile Atomic64* ptr,
+                                       Atomic64 old_value,
+                                       Atomic64 new_value) {
+  __atomic_compare_exchange_n(ptr, &amp;old_value, new_value, false,
+                              __ATOMIC_RELEASE, __ATOMIC_ACQUIRE);
+  return old_value;
+}
+
+
 #endif // defined(__LP64__)


 }  // namespace internal&apos; &gt; add_func.patch
 
patch $WORK_DIR/protobuf/src/google/protobuf/stubs/atomicops_internals_generic_gcc.h &lt; add_func.patch


#Generate and then run the configuration
./autogen.sh &amp;&amp; ./configure 

# Build 
make  

#Install Protobuf and verify the installation
sudo make install
export LD_LIBRARY_PATH=/usr/local/lib
protoc --version 

#Flume build 
cd $WORK_DIR/
git clone https://github.com/apache/flume.git flume
cd flume
git checkout flume-1.8
export MAVEN_OPTS=&quot;-Xms1024m -Xmx1024m -XX:MaxPermSize=1024m&quot;
ulimit -n 4096
mvn install -DskipTests -Drat.numUnapprovedLicenses=100
mvn install -Drat.numUnapprovedLicenses=100 -fn 2&gt;&amp;1 |tee testlogs

# Verify Flume is installed correctly and working.
cd $WORK_DIR/flume/flume-ng-dist/target/apache-flume-1.8.0-bin/apache-flume-1.8.0-bin

cat &gt; example.conf &lt;&lt;- EOM
# Name the components on this agent
a1.sources = r1
a1.sinks = k1
a1.channels = c1

# Describe/configure the source
a1.sources.r1.type = netcat
a1.sources.r1.bind = localhost
a1.sources.r1.port = 44444

# Describe the sink
a1.sinks.k1.type = logger

# Use a channel which buffers events in memory
a1.channels.c1.type = memory
a1.channels.c1.capacity = 1000
a1.channels.c1.transactionCapacity = 100

# Bind the source and sink to the channel
a1.sources.r1.channels = c1
a1.sinks.k1.channel = c1
EOM

# Remove old log if exists
rm -f flume_log.log

bin/flume-ng agent --conf conf --conf-file example.conf --name a1 -Dflume.root.logger=INFO,console &gt; flume_log.log 2&gt;&amp;1 &amp;

sleep 30

cat &gt; connect_server.py &lt;&lt;- EOM
import socket, select, string, sys

end_session = False
if __name__ == &quot;__main__&quot;:
    host = &apos;127.0.0.1&apos;
    port = 44444

    s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
    s.settimeout(2)

    # connect to remote host
    try :
        s.connect((host, port))
    except :
        sys.exit()

    while not end_session:
        socket_list = [sys.stdin, s]
        read_sockets, write_sockets, error_sockets = select.select(socket_list , [], [])
        for sock in read_sockets:
            if sock == s:
                data = sock.recv(4096)
                if not data :
                    sys.exit()
                else :
                    sys.stdout.write(data)
            else :
                msg = sys.stdin.readline()
                s.send(msg)
                end_session = True

EOM

echo &quot;sample message&quot; | python connect_server.py

sleep 15

if grep -q &quot;sample message&quot; &quot;flume_log.log&quot;; then 
	exit 0
else
	exit 1
fi
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.3.1">
      <script plugin="script-security@1.24">
        <script>import jenkins.model.Jenkins

def x=manager.envVars[&apos;NODE_NAME&apos;]
Jenkins.instance.slaves.each {
if(it.name==x){
it.getComputer().doDoDelete()
}
}</script>
        <sandbox>false</sandbox>
      </script>
      <behavior>0</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
  </publishers>
  <buildWrappers/>
</project>